*{
    /*height: 100%;*/
    padding: 0;
    margin: 0 ;
    font-family: Avenir, sans-serif;
    text-decoration: none;
    line-height: 1.3; /* Définit un interligne de 1.8 fois la taille du texte */
}
.video-container { 
    position: static; top: 0; left: 0; right:0;
    /*width: 100%; */
    height: 5%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black; /* Assure que le fond est noir autour de la vidéo */
}
  
video { width: 100%;
        height: 500px; 
        object-fit: cover; /* Assure que la vidéo remplit tout l'espace disponible  */
} 



.video-container .bienvenue {
    /*display:none;*/
    position: absolute;
    top: 25%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Ajustement pour le centrage */
    color: white; /* Couleur du texte */
    font-size: 60px; /* Taille de la police */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la lisibilité */
}


/*menu déroulant */
/* Il faudrait avoir un script qui fixe le menu déroulant en haut de la page quand on scroll */
nav{
    z-index: 99999;
    height: 40px;
    width: 100%;
    margin:0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    height: 40px;
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

/*nav a{
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}*/

nav a {
    display: block;
    border-bottom: 2px solid;
    padding: 10px 15px; /* Ajustez le padding pour une meilleure apparence */
    text-decoration: none;
    color:black;
}


nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    text-align: center;
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white, ;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
    background-color: white;
}

.sous li{
    float: none;
    width: 100%;
}

.sous a{
    /*box-shadow: 0px 1px 2px #CCC;*/
    border-bottom: none;
}

.sous a:hover{
    padding: 10px;
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}

.deroulant > a::after{
    content: " ▼";
    font-size: 12px;
}
/******/


/* POUR LES STAGES FAIRE EN SORTE D'AVOIR UN BOUTON QUI ENVOIE VERS UNE AUTRE PAGE POUR VISUALISER LES PDF */
/* CSS */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
/*******/


/** A propos **/
  .presentation{
    text-align: center;
  }

/*******/


/*Mes Stages*/

.stages{
  text-align: center;
}

.card{
  height: auto;
  background-color: #F8F8F8;
  text-align: center;
  margin: auto;
  width: 800px;
 padding: 5%;
 box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Ombre douce */
  border-radius: 10px; /* Coins arrondis pour un effet plus moderne */
}

.logo{
  margin: 0 auto;
  padding-bottom: 5%;
}

/*******/


/*Ateliers*/
.ateliers{
  text-align: center;
}

.div_ateliers{
  padding-left: 5%;
}

.schema_reseau{
  position: relative;
  height: 50%;
  width: 50%;
  padding-left: 40%;
  padding-top: -30%;
}

.titre_shema{
  padding-left: 55%;
}
/*******/


/* TP */
.travaux{
  text-align: center;
}
/*******/

/* Gestion du bouton pour les PDF */
.veille{
    text-align: center;
}
/*******/

/* Gestion du bouton pour les PDF */
.stage1 a, .stage2 a, .presentation a, .div_ateliers a, .travaux a, .veille a{
  color: black;
  text-decoration: none;
}

.stage1 a:hover, .stage2 a:hover, .presentation a:hover .div_ateliers a:hover, .travaux a:hover{
  color: orange;
}
/*******/

.footer{
  padding-top: 10px;
  text-align: center;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 25px;
}

.footer b{
  color: #fff;
}
/*******/

/* Ancres */
#presentation, #stage1, #stage2, #stages, #tp, #atelier, #veille {
  scroll-margin-top: 80px; /* Ajuste selon la hauteur de ton menu */
}
/*******/
